/StripCommentsChallenge/bin
/StripCommentsChallenge/obj
/CodeWarsChallenges/.vs/CodeWarsChallenges/v15/*.suo
/CodeWarsChallenges/.vs/CodeWarsChallenges/v15/Server/sqlite3/*.lock
/CodeWarsChallenges/.vs/CodeWarsChallenges/v15/Server/sqlite3/*.ide
/CodeWarsChallenges/.vs/CodeWarsChallenges/v15/Server/sqlite3/*.ide-shm
/CodeWarsChallenges/.vs/CodeWarsChallenges/v15/Server/sqlite3/*.ide-wal
/CodeWarsChallenges/bin/Debug/CodeWarsChallenges.exe
/CodeWarsChallenges/bin/Debug/CodeWarsChallenges.exe.config
/CodeWarsChallenges/bin/Debug/CodeWarsChallenges.pdb
/CodeWarsChallenges/bin/Debug/StripCommentsChallenge.dll
/CodeWarsChallenges/bin/Debug/StripCommentsChallenge.pdb
/CodeWarsChallenges/obj/Debug/CodeWarsChallenges.csproj.CopyComplete
/CodeWarsChallenges/obj/Debug/CodeWarsChallenges.csproj.CoreCompileInputs.cache
/CodeWarsChallenges/obj/Debug/CodeWarsChallenges.csproj.FileListAbsolute.txt
/CodeWarsChallenges/obj/Debug/CodeWarsChallenges.csprojAssemblyReference.cache
/CodeWarsChallenges/obj/Debug/*.exe
/CodeWarsChallenges/obj/Debug/*.pdb
/CodeWarsChallenges/obj/Debug/*.cache
/CodeWarsChallenges/obj/Debug/*.cs
